<div class="toolMenu" id="tool_menu" style="display:none;">
<menu class="toolBut q">
<li cur="" id="toolHome" sorts="13" style="display: none; ">
<a class="cur" href="/wap_xxt001.html" id="index_link">
<b class="icon" id="icon_119995">
<img src="https://s.dlssyht.cn/images/wap/toolHome_icon.png"/>
</b>
<strong>首页</strong>
</a>
</li>
<li id="toolTel" sorts="12" style="display: none; ">
<a href="tel:">
<b class="icon" id="icon_119996">
<img src="https://s.dlssyht.cn/images/wap/toolTel_icon.png"/>
</b>
<strong>电话</strong>
</a>
</li>
<li id="tootMessage" sorts="11" style="display: none; ">
<a href="/wap/guest_book.php?username=xxt001&amp;channel_id=27912929">
<b class="icon" id="icon_119997">
<img src="https://s.dlssyht.cn/images/wap/toolGuestbook_icon.png"/>
</b>
<strong>留言</strong>
</a>
</li>
<li id="toolMap" sorts="10" style="display: none; ">
<a href="/wap/map.php?username=xxt001">
<b class="icon" id="icon_119998">
<img src="https://s.dlssyht.cn/images/wap/toolMap_icon.png"/>
</b>
<strong>位置</strong>
</a>
</li>
<li id="toolMember" sorts="9" style="display: none; ">
<a href="/dom/denglu.php?username=xxt001&amp;wap=1">
<b class="icon" id="icon_119999">
<img src="https://s.dlssyht.cn/images/wap/toolMember_icon.png"/>
</b>
<strong>会员</strong>
</a>
</li>
<li id="toolTelMessage" sorts="8" style="display: none; ">
<a href="sms:">
<b class="icon" id="icon_120000">
<img src="https://s.dlssyht.cn/images/wap/toolMessage_icon.png"/>
</b>
<strong>信息</strong>
</a>
</li>
<li id="toolQQ" sorts="7" style="display: none; ">
<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=&amp;site=qq&amp;menu=yes">
<b class="icon" id="icon_120001">
<img src="https://s.dlssyht.cn/images/wap/toolQQ_icon.png"/>
</b>
<strong>QQ</strong>
</a>
</li>
<li id="toolShoppingCar" sorts="6" style="display: none; ">
<a href="/dom/sc_shopcar_add.php?username=xxt001&amp;wap=1">
<b class="icon" id="icon_120002">
<img src="https://s.dlssyht.cn/images/wap/toolShoppingCar_icon.png"/>
</b>
<strong>购物</strong>
</a>
</li>
<li id="toolProClass" sorts="4" style="display: none; ">
<a href="/wap/proclass.php?username=xxt001&amp;wap=1">
<b class="icon" id="icon_120003">
<img src="https://s.dlssyht.cn/images/wap/toolProductClass.png"/>
</b>
<strong>分类</strong>
</a>
</li>
<li id="toolVoiceSearch" sorts="2" style="display: none; ">
<a href="/wap/voicesearch.php?username=xxt001&amp;wap=1" style="display: none;">
<b class="icon" id="icon_120005">
<img src="https://s.dlssyht.cn/images/wap/toolVoiceSearch.png"/>
</b>
<strong>语音</strong>
</a>
</li>
</menu>
</div>